################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpSandbox/bin/Debug/net6.0
/CSharpSandbox/obj
CSharpSandbox/python/sandbox.py
CSharpSandbox/python/__pycache__/recursion.cpython-39.pyc
CSharpSandbox/python/__pycache__/dog.cpython-39.pyc
CSharpSandbox/python/__pycache__/majority_element.cpython-39.pyc
CSharpSandbox/python/__pycache__/other_problems.cpython-39.pyc
