################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpSandbox/bin/Debug/net6.0
/CSharpSandbox/obj
